header  {
  width: 100%;
  height: 64px;
  background-color: #4a90e2;

  display: flex;
  justify-content: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 42px;
  color: #fff;
  min-width: 980px;
  font-size: 14px;
}

nav img {
  height: 24px;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: auto 42px auto 42px;
}