<strong>Olá, {{ student }}</strong>
<p>Your question has been answered.:</p>
<p>See answer below:</p>
<p>
    <strong>Question: </strong> {{ question }} <br />
    <strong>Answer: </strong> {{ answer }} <br />
</p>
<p>Do you have any further questions? Ask your question at <strong>Gympoint</strong>!</p>
